<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <a class="navbar-brand" href="#">Logo Place Here</a>
      <span class="navbar-text ml-auto">
        <h3>Some Text</h3>
      </span>
  </nav>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <app-vtk-test></app-vtk-test>
        </div>
        <div class="col-md-4">
            <app-arrowsource></app-arrowsource>
        </div>
        <div class="col-md-4">
            <app-depth></app-depth>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <footer class="text-center mt-4">Copyright Text will be placed here</footer>
        </div>
    </div>
</div>